MobilisServer/src/META-INF/MobilisSettings.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:element name="setting">
		<xs:complexType mixed="true">
			<xs:sequence>
				<xs:element ref="setting" minOccurs="0" maxOccurs="unbounded" />
			</xs:sequence>
			<xs:attribute name="name" type="xs:NMTOKEN" use="required" />
		</xs:complexType>
	</xs:element>

	<xs:element name="settings">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="setting" minOccurs="0" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="agent">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="settings" minOccurs="0" />
			</xs:sequence>
			<xs:attribute name="name" type="xs:NMTOKEN" use="required" />
			<xs:attribute name="description" type="xs:string" use="required" />
			<xs:attribute name="type" type="xs:NMTOKEN" use="required" />
			<xs:attribute name="start" use="optional" default="auto">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="auto" />
						<xs:enumeration value="ondemand" />
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>

	<xs:element name="agents">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="agent" minOccurs="0" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="service">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="settings" minOccurs="0" />
			</xs:sequence>
			<xs:attribute name="name" type="xs:NMTOKEN" use="required" />
			<xs:attribute name="description" type="xs:string" use="required" />
			<xs:attribute name="type" type="xs:NMTOKEN" use="required" />
			<xs:attribute name="agent" type="xs:NMTOKEN" use="required" />
			<xs:attribute name="start" use="optional" default="auto">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="auto" />
						<xs:enumeration value="ondemand" />
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>

	<xs:element name="services">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="service" minOccurs="0" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="config">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="agents" />
				<xs:element ref="services" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>


</xs:schema>
